a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: none;
  color: darken($color-2, 20%);
  border-color: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  outline: none;
}

a:active {
  text-decoration: none;
  color: darken($color-2, 10%);
}
