.divider-vertical {
  border-left: 1px solid #f2f2f2;
}

@media (min-width: 576px) {
  .full-row {
    height: 1px;
    min-height: 100vh;
  }

  .half-row {
    height: 1px;
    min-height: 50vh;
  }
}

.quarter-row {
  height: 1px;
  min-height: 25vh;
}

.colors-1 {
  background-color: $color-1;
  color: whitesmoke;
}

.colors-2 {
  background-color: $color-2;
  color: whitesmoke;
}

.colors-3 {
  background-color: $color-3;
  color: whitesmoke;
}

.colors-4 {
  background-color: $color-4;
  color: #333333;
}

.colors-5 {
  background-color: $color-5;
  color: #333333;
}

.hoverable:hover {
  -webkit-transform: scale(1.06);
  -ms-transform: scale(1.06);
  transform: scale(1.06);
  transition-duration: 100ms;
  box-shadow: 0 0 0 2px $color-2;
  cursor: default;
}

@media (min-width: 768px) {
  .hoverable:hover {
    -webkit-transform: scale(1.09);
    -ms-transform: scale(1.09);
    transform: scale(1.09);
  }
}

.row-heading {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-text {
  font-weight: 600;
  font-size: 2.5rem;
  color: $color-3 !important;
  text-transform: uppercase;
}

strong {
  color: $color-2 !important;
}
